@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@theme {
  --primary: #5937e0;
  --secondary: #ff9e0c;
  --black: #000;
  --white: #fff;
  --gray: #fafafa;
  --darkGray: #ebebeb;
}

/* heading */
h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
}

/* button style  */

.btnPrimary {
  background-color: var(--primary);
  color: var(--white);
  padding: 10px 16px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--secondary);
  }
}

.css-13cymwt-control {
  background-color: var(--gray) !important;
  border-radius: 12px !important;
  border-color: transparent !important;
}

.css-t3ipsp-control {
  min-height: 38px !important;
  border-radius: 12px !important;
  /* border-color: transparent !important; */
  box-shadow: none !important;

  &:hover {
    border-color: transparent !important;
    box-shadow: none !important;
  }
}
.css-hlgwow {
  padding: 6px 16px !important;
}

.css-1u9des2-indicatorSeparator {
  display: none;
}

.css-1xc3v61-indicatorContainer {
  & svg,
  & svg path {
    stroke: var(--black) !important;
    fill: var(--black) !important;
  }
}

/* listing form UI */

.form-container {
  display: flex;
  flex-direction: column;

  & label {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 8px;
    color: #242424;
    display: block;
    font-weight: 500;
  }

  & input[type="text"],
  & select,
  & textarea {
    width: 100%;
    color: #242424;
    font-size: 14px;
    line-height: normal;
    background-color: var(--darkGray);
    border: 1px solid var(--gray);
    border-radius: 12px;
    min-height: 38px;
    border-radius: 8px;
    padding: 12px 12px;

    &::placeholder {
      color: #363636;
    }

    &:focus,
    &:focus-visible,
    &:active {
      box-shadow: none;
      outline: none;
    }
  }
}
